html {
    margin: 0;
    padding: 0;
    background-color: #CBC2BE;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);     Older Gecko browser 
	-ms-transform: translate(-50%, -50%);     /* IE9+ */
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}